*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial;
    }
  
    
    .landing{
        min-height:100vh;
        background:
          radial-gradient(circle at top left,#4f46e530 0%,transparent 35%),
          radial-gradient(circle at bottom right,#06b6d430 0%,transparent 35%),
          #050816;
    
        color:white;
    }
    
    /* Navbar */
    
    .landing .navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:25px 8%;
    }
    
    .logo{
    font-size:28px;
    color:#6d7cff;
    }
    
    .landing .nav-links{
    display:flex;
    gap:20px;
    align-items:center;
    }
    
    .landing .nav-links a{
    text-decoration:none;
    color:white;
    font-weight:bold;
    }
    
    .register-btn{
    background:#4f46e5;
    padding:10px 22px;
    border-radius:30px;
    }
    
    /* Hero */
    
    .landing .hero{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:80px 8%;
    flex-wrap:wrap;
    }
    
    .hero-left{
    max-width:600px;
    }
    
    .hero h1 {
        color: #ffffff;
        font-size: 72px;
        font-weight: 800;
        line-height: 1.1;
      }
    
    .hero p{
    font-size:20px;
    color:#cbd5e1;
    line-height:1.8;
    margin-bottom:35px;
    }
    
    .hero-buttons{
    display:flex;
    gap:20px;
    }
    
    .primary-btn{
    background:#4f46e5;
    padding:15px 35px;
    border-radius:40px;
    text-decoration:none;
    color:white;
    font-weight:bold;
    transition:.3s;
    }
    
    .primary-btn:hover{
    transform:translateY(-3px);
    box-shadow:0 0 25px #4f46e5;
    }
    
    .secondary-btn{
    border:2px solid #4f46e5;
    padding:15px 35px;
    border-radius:40px;
    text-decoration:none;
    color:white;
    font-weight:bold;
    }
    
    .hero-right{
    display:flex;
    justify-content:center;
    align-items:center;
    flex:1;
    }
    
    .shield{
    font-size:180px;
    animation:float 3s ease-in-out infinite;
    }
    
    @keyframes float{
    0%{transform:translateY(0);}
    50%{transform:translateY(-20px);}
    100%{transform:translateY(0);}
    }
    
    /* Features */
    
    .features{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:25px;
    padding:80px 8%;
    }
    
    .card{
    background:rgba(255,255,255,.06);
    padding:30px;
    border-radius:20px;
    transition:.3s;
    }
    
    .card:hover{
    transform:translateY(-8px);
    background:rgba(79,70,229,.25);
    }
    
    .card h3{
    margin-bottom:15px;
    }
    
    /* CTA */
    
    .cta{
    padding:80px;
    text-align:center;
    }
    
    .cta h2{
    font-size:40px;
    margin-bottom:30px;
    }